.frame {
    display: flex;
    justify-content: flex-start; 
    margin-top: 20px;
    width: 950px;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out; /* 부드러운 효과 */
}

.button > img {
    width: 200px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* 버튼 그림자 추가 */
    transition: box-shadow 0.3s ease-in-out;
}

.button:hover > img {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3); /* 호버 시 더 강한 그림자 */
}

.button > p {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
