.frame {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button > img {
    width: 180px;
}


